@model EStore.BL.Models.ProductImageItem

<tr>
    <td>@Model.Id</td>
    <td><a target="_blank" href="@Model.Path">@Model.Name</a></td>
    <td>@Model.Description</td>
    <td class="actions">
        @Html.Partial("_Common/EditDeleteTableActions")
    </td>
</tr>
