<!-- BEGIN SIDEBAR MENU -->
<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<ul class="page-sidebar-menu page-sidebar-menu-light page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li>
        <a href="/admin/">
            <i class="fa fa-home"></i>
            <span class="title">Главная</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li>
        <a target="_blank" href="/">
            <i class="fa fa-globe"></i>
            <span class="title">Сайт</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "PublicArticles")">
            <i class="fa fa-file-text"></i>
            <span class="title">Статьи</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Products")">
            <i class="fa fa-product-hunt"></i>
            <span class="title">Товары</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ProductCategories")">
            <i class="fa fa-folder-open"></i>
            <span class="title">Категории товаров</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "SupplierInvoices")">
            <i class="fa fa-files-o"></i>
            <span class="title">Накладные поставщиков</span>
            <span class="arrow "></span>
        </a>
    </li>

    <li>
        <a href="@Url.Action("Index", "AdminUsers")">
            <i class="fa fa-user"></i>
            <span class="title">Пользователи</span>
            <span class="arrow "></span>
        </a>
    </li>
</ul>
<!-- END SIDEBAR MENU -->
